*{
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1;
    font-size: 17px;
}

body{
    background-color: rgba(226, 224, 224, 0.425);
    margin: 0px;
}

/*header*/
header{
    background-color: white;
    padding-left: 20px;
}
#logo{
    width: 50px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
/*end header*/

/*Impostazione della pagina*/
main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.sfondo-bianco{
    background-color: white;
}
/*end*/

/*Impostazione Sezione*/
div.layout1{
    padding-left: 40px;
    padding-top: 17px;
    padding-bottom: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
div.layout2{
    padding-left: 40px;
    padding-top: 

}
/*end*/

/*bottoni*/
span.tasto{
    font-size: small;
    border-radius: 5px;
    padding:5px 10px;
}

span.nuova-sezione{
    color: lightgray;
    border: 1px solid lightgray;
}

/*end*/

 .sfondo-blu{
     background-color: rgb(52, 135, 243);
 }
/*check e cross*/
span.check{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid green;
    color:green;
    font-size: 70%;
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px ;
}
span.cross{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid red;
    color:red;
    font-size: 70%;
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px ;
}
/*end*/

/*attributi tag*/
.font-bianco{
    color: white;
}
.tag{
    font-size: 11px;
    padding: 7px;
    border-radius: 9px;
    color: white;
}
.goals{
    background-color: violet;
}
.recruiting{
    background-color: rgb(0, 124, 83);
}
.mobile{
    background-color: orange;
}
.website{
    background-color: rgb(250, 95, 121);
}
.sales{
    background-color: greenyellow;
}
/*end*/