*{
    font-family: sans-serif, Arial, Helvetica;
    line-height: 2;
}

/*header*/
header{
    margin: 0px;
}
#logo{
    width: 70px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle
}

main{
    background-color: azure;
}

.sfondo{
    background-color: white;
}

/*bottoni*/
.tasto{
    font-size: small;

    width: fit-content;
    background-color: aqua;
    border-radius: 3px;
}

/*list*/
.nome-lista{
    font-size: larger;
    font-weight: bold;
}

.elemento{
    list-style-type: none;
}

span.check{
    padding: 2px;
    border: 1px solid;
    border-radius: 50%;
    border-color: green;
    color: green;
    font-size: 10px;
}

span.cross{
    padding: 2px;
    border: 1px solid;
    border-radius: 50%;
    border-color: red;
    color: red;
    font-size: 10px;
}


