*{
    font-family: sans-serif, Arial, Helvetica;
}

body{
    background-color: aliceblue;
}

/*header*/
header{
    background-color: white;
    margin: 0px;
}
#logo{
    width: 70px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle
}

/*bottoni*/
.tasto{
    font-size: small;

    width: fit-content;
    background-color: aqua;
    border-radius: 3px;
}


